<h1><%= @user.email%>'s Profile</h1>

<%= link_to 'Update Profile with Personal Info', edit_user_registration_path %>
<%= image_tag @user.profilepic.url(:medium) %>

<h1>Events Created</h1>

<h1>Your Upcoming Events</h1>

<h1>Your Passed Events</h1>
