<% if current_user == nil %>
	<div id="join" title="join">
		<p><%= link_to 'sign in/sign up to join this event', join_event_path(@event, continue: event_url(@event)), method: :post %></p>
	</div>
<% else %>
	<div id="join" title="join">
		<p><%= link_to 'join event now', join_event_path(@event, continue: event_url(@event)), method: :post %></p>
	</div>
<% end %>
