<h1><%= @place.name %></h1>

<p>Description: <%= @place.description %></p>


<h3>Users going!</h3>

<% @event.users.each do |user| %>
	<%= user.email %>
	<hr>
<% end %>


<% render 'form' %> 


<h3>Join</h3>

<h3>Don't join.</h3>