<h2>Hi from Event Hop!</h2>
<p><%= @current_user.email %> invited you to join a new event at place.name on event.start.</p>
<p>Click link below to view their event!</p>
<!-- below is link to URL of the created event -->
<!-- we added 
  config.action_mailer.default_url_options = { :host => "localhost: 3000" } to development.rb -->


<%# link_to 'click here', 'http://localhost:3000/events/65' %>
<%= link_to 'click here', event_url(@event) %>