/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*body {
	background-color: #EBF7FF;
	font-family: arial;
	font-size: 14px;
	background-color: #13BA45;
}*/

nav {
	font-size: 1.2em;
}

.footernav {
	display: inline-block;
	margin-left: 20%;
	margin-right: 1em;
	font-size: 1.3em;
}

footer{
	margin-top: 2em;
	background-color: #CCC;
	height: 120px;
}

footer li {
	text-decoration: none;
	margin-right: 1em;
	font-size: 1.5em;
	margin-top: 2em;
	display: inline-block;
}

/*.main {
	padding: 1em;
	max-width: 450px;
	margin: 0 auto;
	margin-top: 57px;
	background-color: white;
	border-radius: 15px 15px;
	font-size: 20px;
	height: 600px;
	overflow: scroll;
	border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}*/

/*.Chatbox {
	padding: 1em;
	max-width: 450px;
	margin: 0 auto;
	margin-top: 57px;
	background-color: white;
	border-radius: 15px 15px;
	font-size: 20px;
	margin-bottom: -57px;
	border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.main .new_post{
	
}	

#post_body {
	padding: .75em;
	width: 100%;
	font-size: 1em;
}*/


