/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/*body {
	background-color: #EBF7FF;
	font-family: arial;
	font-size: 14px;
	background-color: #13BA45;
}*/

/******** Sign In/Sign Up **********/

.new_user{
	padding: 1em;
}

/******** Sign In/Sign Up **********/

.notice{
	background-color: #78D95B;
	height: 40px;
	font-size: 1.2em; 
	padding: .5em;
	color: white;
}

.alert{
	background-color: #D92F34;
	height: 60px;
	font-size: 1.2em; 
	padding: 1em;
	color: white;
}

.headernav {
	font-size: 1.2em;
	background-color: #464749;
	height: 3.5em;

}

.headernav ul{
	padding: 1em;
	color: #F3F8FF;
	overflow: hidden;
}

.link{
	display: inline-block;
	height: 100%;
	/*margin: 0 .3em 0 .3em;*/
	text-decoration: none;
}

.link:hover{
	background-color: #848484;
	text-decoration: none;
}

.headernav ul a{
	color: #DFF1FF;
	padding: .5em;
}

.footernav {
	display: inline-block;
	margin-left: 15%;
	font-size: 1.3em;
}

footer{
	margin-top: 2em;
	background-color: #F6F6F6;
	height: 120px;
	width: 100%;
}

footer li {
	margin-right: 1em;
	font-size: 1.5em;
	margin-top: 1.5em;
	display: inline-block;
}