// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$headerfont: 'Josefin Sans', sans-serif; 
$taglinefont: 'Helvetica';

// -----------  Event Show Page ------------ //
.event{
	text-align: center;
}

.eventdescription{
	font-size: 1.5em;
	font-family: $taglinefont; 
}

.attending{
	font-size: 1.3em;
	margin-top: 1em;
}

.thumb_pic{
	padding: 1em; 
	padding-right: 0;
	display: inline-block;
}

.mainchat{
	// margin: 1em 5em 0 20%;
	padding: 0;
	background-color: #FBFAFC;	
	box-shadow: 5px 5px 2px #D9D9D9;

	.chatheader{
		height: 35px;
		width: 100%;
		background-color: #99AFEE;
	}

	p {
		display: inline-block;
		margin: 0;
		margin-left: 1em;
		font-size: 1.3em;
	}

	.datetime{
		// float: right;
		margin-right: 1em;
	}

	.chatbreak{
		margin: 1em;
		border-color: #D8D8D8;
	}

	.postbody{
		color: black;
	}

	.chatbox {
	text-align: center;
	padding: 1em;
	max-width: 100%;
	max-height: 200px;
	margin: 0 auto;
	background-color: #FBFAFC;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	font-size: 1em;

		#post_body{
			resize: none;
			font-size: 2em;
			text-align: center;
		}

		input[type=submit]{
			 border: 1px solid #336699;
	    color: #ffffff;
	    background: #336699;
	    padding: 10px 20px;
	    border-radius: 3px;
	  }

	  textarea{
	  	width: 60%;
	  }
	}
}


// -----------  Event Show Page ------------ //


// -----------  Create Event Page ------------ //
.col-md-4{
	text-align: center;
}

.eventinfo{
	text-align: center;
	border: solid black 1px;
}

.eventform{
	text-align: center;
	margin-top: 2em;
	padding: 1em;
	width: 100%;
	border: solid black 1px;
	// border-radius: 30px;
}

.form{
	font-size: 1.3em;
	border-bottom: solid black 1px;
	padding: 2em;
	margin: 1em;

	input[type="text"],
	textarea {
		text-align: center;
		font-size: 1.4em;
    width: 85%;
    height: 50%;
    padding: 0;
    border: 5px solid #ccc;
    }

  input[type="submit"] {
  	background: transparent;
  	border-radius: 20px;
  	font-size: 2em;
  }
}
// -----------  Create Event Page ------------ //
