<div class="pagetitle">
	<h1>Welcome to Event Hop</h1>
	<h2>We make planning events around the city fun!</h2>
</div>



	<% @places.each do |place| %>
		<div class="places">
			<h4><%= place.name %></h4>
					<%= link_to (image_tag place.avatar.url(:medium)), new_place_event_path(place) %>
			<p><%= place.description%></p>
		</div>
	<% end %>
